doctype html
html(land="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Twitter
        link(rel="stylesheet" href="css/bootstrap.min.css")
        link(rel="stylesheet" href="css/estilosTwitter.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css")
    body
        div.container-fluid
            div.row
                div.col-md-3.col-sm-3(style="border-right: 0.2mm solid #5a6268;")
                    ul.nav.flex-column
                        li.nav-item
                            img.logo(src="img/logo.png" width="20px" height="20px")
                        li.nav-item
                            button.fondobotonesnavizq
                                img.colorsvg(src="img/home.svg" width="50px" height="24px")
                                | Inicio
                        li.nav-item
                            a.fondobotonesnavizq(href="/explorar")
                                img.colorsvg(src="img/numeral.svg" width="50px" height="24px")
                                | Explorar
                        li.nav-item
                            button.fondobotonesnavizq
                                img.colorsvg(src="img/notificacion.svg" width="50px" height="24px")
                                | Notificaciones
                        li.nav-item
                            a.fondobotonesnavizq(href="/mensajes")
                                img.colorsvg(src="img/mensaje.svg" width="50px" height="24px")
                                | Mensajes
                        li.nav-item
                            button.fondobotonesnavizq
                                img.colorsvg(src="img/guardado.svg" width="50px" height="24px")
                                | Guardado
                        li.nav-item
                            button.fondobotonesnavizq
                                img.colorsvg(src="img/lista.svg" width="50px" height="24px")
                                | Listas
                        li.nav-item
                            button.fondobotonesnavizq Perfil
                        li.nav-item
                            button.fondobotonesnavizq
                                img.colorsvg(src="img/opciones.svg" width="50px" height="24px")
                                | Más opciones
                        li.nav-item
                            Button.btn.btn-twitter-nav Twittear
                block content
    script(src="js/bootstrap.min.js")
    script(src="js/popper.min.js")