doctype html
html(land="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Twitter
        link(rel="stylesheet" href="css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
        link(rel="stylesheet" href="css/estilosTwitter.css")
    body
        div.container-fluid
            div.row
                div.col-3(style="border-right: 0.5mm solid #ffffff; height:700px")
                    div.col-12
                        img.logo(src="img/logo.png" width="20px" height="20px")
                    div.col-12
                        button.fondobotones
                            img.colorsvg(src="img/home.svg" width="60px" height="24px")
                            | Inicio
                    div.col-12
                        button.fondobotones
                            img.colorsvg(src="img/numeral.svg" width="60px" height="24px")
                            | Explorar
                    div.col-12
                        button.fondobotones
                            img.colorsvg(src="img/notificacion.svg" width="60px" height="24px")
                            | Notificaciones
                    div.col-12
                        button.fondobotones
                            img.colorsvg(src="img/mensaje.svg" width="60px" height="24px")
                            | Mensajes
                    div.col-12
                        button.fondobotones
                            img.colorsvg(src="img/guardado.svg" width="60px" height="24px")
                            | Guardado
                    div.col-12
                        button.fondobotones
                            img.colorsvg(src="img/lista.svg" width="60px" height="24px")
                            | Listas
                    div.col-12
                        button.fondobotones Perfil
                    div.col-12
                        button.fondobotones
                            img.colorsvg(src="img/opciones.svg" width="60px" height="28px")
                            | Más opciones
                    div.col-12
                        Button.btn.btn-twitter-nav Twittear
                div.col-9
                    block content
    script(src="js/bootstrap.min.js")
    script(src="js/popper.min.js")