extends base
block content
    div.col-md-9
        div.row
            div.col-md-7(style="heigth:200px; weight:100%")
                div.col-sm-12.div-grid
                    div.card.backgroundivs
                        div.card-body.backgroundivsbordermensajes
                            h2 Guardado
                            small @usuario
                div.col-sm-12.div-grid
                    div.card.backgroundivs
                        div.card-body.backgroundivsbordermensajes.text-center
                            h5 Todavia no has agregado ningun tweet a tus marcadores
                            small cuando lo hagas aparecera aquí
            div.col-md-5
                div.row.align-items-center
                    div.col-md-11
                        div.card.sinbordefondotendencias
                            div.list-group.list-group-flush
                                div.list-group-item.sinbordefondolistas A quien seguir
                                div.list-group-item.sinbordefondolistas
                                    small @Cr7
                                    h5 Cristiano Ronaldo
                                div.list-group-item.sinbordefondolistas
                                    small @Cr7
                                    h5 Cristiano Ronaldo
                                div.list-group-item.sinbordefondolistas
                                    small @Cr7
                                    h5 Cristiano Ronaldo
                                div.list-group-item.sinbordefondolistas
                                    small @Cr7
                                    h5 Cristiano Ronaldo
                                div.list-group-item.sinbordefondolistas
                                    small @Cr7
                                    h5 Cristiano Ronaldo
                                div.list-group-item.sinbordefondolistas
                                    small @Cr7
                                    h5 Cristiano Ronaldo