extends base
block content
    div(style="margin-left:120px;")
        div.row
            div.col-sm-7
                div.card.backgroundivs
                    div.card-body.backgroundivsborder
                        img(src="img/home.svg").float-right
                        h3(style="color:white") Inicio

    div.div-grid
        div.row
            div.col-sm-7
                div.card.backgroundivs
                    div.card-body.backgroundivsborder
                        div.row
                            div.col-1
                                img(src="img/home.svg")
                            div.col-11
                                input.form-control.sinbordefondo(type="text" placeholder="¿Que estas pensando?")
                            div(style="margin-left:60px;")
                                button.fondobotones
                                    img(src="img/home.svg" width="30px" height="20px")
                            div
                                button.fondobotones
                                    img(src="img/home.svg" width="30px" height="20px")
                            div
                                button.fondobotones
                                    img(src="img/home.svg" width="30px" height="20px")
                            div
                                button.fondobotones
                                    img(src="img/home.svg" width="30px" height="20px")
                            div.col-8
                                button.float-right.btn-twitter Twittear
                                img.float-right(src="img/home.svg" width="30px" height="20px")
                                img.float-right(src="img/home.svg" width="30px" height="20px")


