<!DOCTYPE html>
<html land="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Twitter</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/estilosTwitter.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 col-sm-3" style="border-right: 0.2mm solid #5a6268;">
          <ul class="nav flex-column">
            <li class="nav-item"><img class="logo" src="img/logo.png" width="20px" height="20px"></li>
            <li class="nav-item">
              <button class="fondobotonesnavizq"><img class="colorsvg" src="img/home.svg" width="50px" height="24px">Inicio</button>
            </li>
            <li class="nav-item"><a class="fondobotonesnavizq" href="/explorar"><img class="colorsvg" src="img/numeral.svg" width="50px" height="24px">Explorar</a></li>
            <li class="nav-item">
              <button class="fondobotonesnavizq"><img class="colorsvg" src="img/notificacion.svg" width="50px" height="24px">Notificaciones</button>
            </li>
            <li class="nav-item"><a class="fondobotonesnavizq" href="/mensajes"><img class="colorsvg" src="img/mensaje.svg" width="50px" height="24px">Mensajes</a></li>
            <li class="nav-item">
              <button class="fondobotonesnavizq"><img class="colorsvg" src="img/guardado.svg" width="50px" height="24px">Guardado</button>
            </li>
            <li class="nav-item">
              <button class="fondobotonesnavizq"><img class="colorsvg" src="img/lista.svg" width="50px" height="24px">Listas</button>
            </li>
            <li class="nav-item">
              <button class="fondobotonesnavizq">Perfil</button>
            </li>
            <li class="nav-item">
              <button class="fondobotonesnavizq"><img class="colorsvg" src="img/opciones.svg" width="50px" height="24px">Más opciones</button>
            </li>
            <li class="nav-item">
              <Button class="btn btn-twitter-nav">Twittear</Button>
            </li>
          </ul>
        </div>
        <div class="col-md-5 col-sm-3 div-grid fixed">
          <div class="col-sm-12 div-grid">
            <div class="card backgroundivs">
              <div class="card-body backgroundivsborder"><img class="float-right" src="img/home.svg">
                <h3 style="color:white">Inicio</h3>
              </div>
            </div>
          </div>
          <div class="col-sm-12 div-grid">
            <div class="card backgroundivs">
              <div class="card-body backgroundivsborder">
                <div class="row">
                  <div class="col-1"><img src="img/home.svg"></div>
                  <div class="col-11">
                    <input class="form-control sinbordefondo" type="text" placeholder="¿Que estas pensando?">
                  </div>
                  <div class="col-1">
                    <button class="fondobotones"><img src="img/fotos.svg" width="30px" height="20px"></button>
                  </div>
                  <div class="col-1">
                    <button class="fondobotones"><img src="img/gif.svg" width="30px" height="20px"></button>
                  </div>
                  <div class="col-1">
                    <button class="fondobotones"><img src="img/encuesta.svg" width="30px" height="20px"></button>
                  </div>
                  <div class="col-1">
                    <button class="fondobotones"><img src="img/carita.svg" width="30px" height="20px"></button>
                  </div>
                  <div class="col-8">
                    <div class="row float-right">
                      <div class="col-1"><img class="float-right" src="img/agregar.svg" width="30px" height="20px"></div>
                      <div class="col-1"><img class="float-right" src="img/circulo.svg" width="30px" height="20px"></div>
                      <div class="col-1">
                        <button class="btn-twitter">Twittear</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div style="background-color: #253341; height:10px"></div>
            <div class="col-sm-12 div-grid">
              <div class="card backgroundivs">
                <div class="card-body backgroundivsborder">
                  <div class="row">
                    <div class="col-sm-1" style="height: 100%"><img src="img/home.svg"></div>
                    <div class="col-sm-11"><span style="padding: 5px; font-weight: 700">GAVOREBER</span><span style="padding: 5px">@werebertumorro</span><span style="padding: 5px">50 min</span></div>
                    <div class="col-sm-11 offset-1">
                      <p>texto texto texto texto texto texto texto texto texto texto</p>
                    </div>
                    <div class="col-sm-11 offset-1"><img src="img/prueba.png"></div>
                    <div class="col-sm-12" style="padding: 10px">
                      <div class="row">
                        <div class="col-sm-3"><img class="fondobotones" src="img/comentar.svg" width="50px" height="30px"><span>55</span></div>
                        <div class="col-sm-3"><img class="fondobotones" src="img/retweet.svg" width="50px" height="30px"><span>55</span></div>
                        <div class="col-sm-3"><img class="fondobotones" src="img/corazon.svg" width="50px" height="30px"><span>55</span></div>
                        <div class="col-sm-3"><img class="fondobotones" src="img/compartir.svg" width="50px" height="30px"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div style="background-color: #253341; height:10px">
              <div class="col-sm-12 div-grid">
                <div class="card backgroundivs">
                  <div class="card-body backgroundivsborder">
                    <div class="row">
                      <div class="col-sm-1" style="height: 100%"><img src="img/home.svg"></div>
                      <div class="col-sm-11"><span style="padding: 5px; font-weight: 700">GAVOREBER</span><span style="padding: 5px">@werebertumorro</span><span style="padding: 5px">50 min</span></div>
                      <div class="col-sm-11 offset-1">
                        <p>texto texto texto texto texto texto texto texto texto texto</p>
                      </div>
                      <div class="col-sm-11 offset-1"><img src="img/prueba.png"></div>
                      <div class="col-sm-12" style="padding: 10px">
                        <div class="row">
                          <div class="col-sm-3"><img class="fondobotones" src="img/comentar.svg" width="50px" height="30px"><span>55</span></div>
                          <div class="col-sm-3"><img class="fondobotones" src="img/retweet.svg" width="50px" height="30px"><span>55</span></div>
                          <div class="col-sm-3"><img class="fondobotones" src="img/corazon.svg" width="50px" height="30px"><span>55</span></div>
                          <div class="col-sm-3"><img class="fondobotones" src="img/compartir.svg" width="50px" height="30px"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="row align-items-center">
            <div class="col-1"></div>
            <div class="col-md-auto">
              <div id="search-wrapper">
                <input id="search" type="search" placeholder="Buscar en Twitter"><i class="fa fa-search" style="height: 50px"></i>
              </div>
            </div>
            <div class="col-1"></div>
            <div class="col-md-12">
              <div class="card sinbordefondotendencias">
                <div class="list-group list-group-flush">
                  <div class="list-group-item sinbordefondolistas">Tendencias para ti<img class="float-right fondobotoneslistas" src="img/Engrane.svg" width="34px" height="34px"></div>
                  <div class="list-group-item sinbordefondolistas"><small>Tendencias México</small>
                    <h5>Toro Neza</h5>
                    <p>174 mil Tweets</p>
                  </div>
                  <div class="list-group-item sinbordefondolistas"><small>Tendencias México</small>
                    <h5>Toro Neza</h5>
                    <p>174 mil Tweets</p>
                  </div>
                  <div class="list-group-item sinbordefondolistas"><small>Tendencias México</small>
                    <h5>Toro Neza</h5>
                    <p>174 mil Tweets</p>
                  </div>
                  <div class="list-group-item sinbordefondolistas"><small>Tendencias México</small>
                    <h5>Toro Neza</h5>
                    <p>174 mil Tweets</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/popper.min.js"></script>
</html>