<!DOCTYPE html>
<html land="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Twitter</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/estilosTwitter.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-3" style="border-right: 0.2mm solid #5a6268;">
          <div class="col-12"><img class="logo" src="img/logo.png" width="20px" height="20px"></div>
          <div class="col-12">
            <button class="fondobotones"><img class="colorsvg" src="img/home.svg" width="60px" height="24px">Inicio</button>
          </div>
          <div class="col-12">
            <button class="fondobotones"><img class="colorsvg" src="img/numeral.svg" width="60px" height="24px">Explorar</button>
          </div>
          <div class="col-12">
            <button class="fondobotones"><img class="colorsvg" src="img/notificacion.svg" width="60px" height="24px">Notificaciones</button>
          </div>
          <div class="col-12">
            <button class="fondobotones"><img class="colorsvg" src="img/mensaje.svg" width="60px" height="24px">Mensajes</button>
          </div>
          <div class="col-12">
            <button class="fondobotones"><img class="colorsvg" src="img/guardado.svg" width="60px" height="24px">Guardado</button>
          </div>
          <div class="col-12">
            <button class="fondobotones"><img class="colorsvg" src="img/lista.svg" width="60px" height="24px">Listas</button>
          </div>
          <div class="col-12">
            <button class="fondobotones">Perfil</button>
          </div>
          <div class="col-12">
            <button class="fondobotones"><img class="colorsvg" src="img/opciones.svg" width="60px" height="28px">Más opciones</button>
          </div>
          <div class="col-12"></div>
          <Button class="btn btn-twitter-nav">Twittear</Button>
        </div>
        <div class="col-sm-5 div-grid">
          <div class="col-sm-12 div-grid">
            <div class="card backgroundivs">
              <div class="card-body backgroundivsborder"><img class="float-right" src="img/home.svg">
                <h3 style="color:white">Inicio</h3>
              </div>
            </div>
          </div>
          <div class="col-sm-12 div-grid">
            <div class="card backgroundivs">
              <div class="card-body backgroundivsborder">
                <div class="row">
                  <div class="col-1"><img src="img/home.svg"></div>
                  <div class="col-11">
                    <input class="form-control sinbordefondo" type="text" placeholder="¿Que estas pensando?">
                  </div>
                  <div class="col-1">
                    <button class="fondobotones"><img src="img/home.svg" width="30px" height="20px"></button>
                  </div>
                  <div class="col-1">
                    <button class="fondobotones"><img src="img/home.svg" width="30px" height="20px"></button>
                  </div>
                  <div class="col-1">
                    <button class="fondobotones"><img src="img/home.svg" width="30px" height="20px"></button>
                  </div>
                  <div class="col-1">
                    <button class="fondobotones"><img src="img/home.svg" width="30px" height="20px"></button>
                  </div>
                  <div class="col-8">
                    <button class="float-right btn-twitter">Twittear</button><img class="float-right" src="img/home.svg" width="30px" height="20px"><img class="float-right" src="img/home.svg" width="30px" height="20px">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="row align-items-center">
            <div class="col-1"></div>
            <div class="col-md-auto">
              <div id="search-wrapper">
                <input id="search" type="search" placeholder="Buscar en Twitter"><i class="fa fa-search"></i>
              </div>
            </div>
            <div class="col-1"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/popper.min.js"></script>
</html>