<!DOCTYPE html>
<html land="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Twitter</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/estilosTwitter.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-left"><a><img class="logo" src="img/logo.png" width="20px" height="20px"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav">
          <li class="nav-item">
            <button class="nav-link"><img class="colorsvg" src="img/home.svg" width="60px" height="24px">Inicio</button>
          </li>
          <li class="nav-item">
            <button class="nav-link"><img class="colorsvg" src="img/numeral.svg" width="60px" height="24px">Explorar</button>
          </li>
          <li class="nav-item">
            <button class="nav-link"><img class="colorsvg" src="img/notificacion.svg" width="60px" height="24px">Notificaciones</button>
          </li>
          <li class="nav-item">
            <button class="nav-link"><img class="colorsvg" src="img/mensaje.svg" width="60px" height="24px">Mensajes</button>
          </li>
          <li class="nav-item">
            <button class="nav-link"><img class="colorsvg" src="img/guardado.svg" width="60px" height="24px">Guardado</button>
          </li>
          <li class="nav-item">
            <button class="nav-link"><img class="colorsvg" src="img/lista.svg" width="60px" height="24px">Listas</button>
          </li>
          <li class="nav-item">
            <button class="nav-link">Perfil</button>
          </li>
          <li class="nav-item">
            <button class="nav-link"><img class="colorsvg" src="img/opciones.svg" width="60px" height="28px">Más opciones</button>
          </li>
          <Button class="btn btn-twitter-nav">Twittear</Button>
        </ul>
      </div>
    </nav>
    <div>
      <div style="margin-left:120px;">
        <div class="row">
          <div class="col-sm-7">
            <div class="card backgroundivs">
              <div class="card-body backgroundivsborder"><img class="float-right" src="img/home.svg">
                <h3 style="color:white">Inicio</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="div-grid">
        <div class="row">
          <div class="col-sm-7">
            <div class="card backgroundivs">
              <div class="card-body backgroundivsborder">
                <div class="row">
                  <div class="col-1"><img src="img/home.svg"></div>
                  <div class="col-11">
                    <input class="form-control sinbordefondo" type="text" placeholder="¿Que estas pensando?">
                  </div>
                  <div style="margin-left:60px;">
                    <button class="fondobotones"><img src="img/home.svg" width="30px" height="20px"></button>
                  </div>
                  <div>
                    <button class="fondobotones"><img src="img/home.svg" width="30px" height="20px"></button>
                  </div>
                  <div>
                    <button class="fondobotones"><img src="img/home.svg" width="30px" height="20px"></button>
                  </div>
                  <div>
                    <button class="fondobotones"><img src="img/home.svg" width="30px" height="20px"></button>
                  </div>
                  <div class="col-8">
                    <button class="float-right btn-twitter">Twittear</button><img class="float-right" src="img/home.svg" width="30px" height="20px"><img class="float-right" src="img/home.svg" width="30px" height="20px">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/popper.min.js"></script>
</html>