doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Log In
        link(rel="stylesheet" href="css/bootstrap.min.css")
        link(rel="stylesheet" href="css/login.css")
    body
        .row.page
            .col-sm-6.aside.justify-content-sm-center

                .items
                ul
                    li
                        a
                            img(src="img/buscar.svg" width="25px" height="25px")
                            p.list_info  Sigue lo que te interesa.

                    li
                        a
                            img(src="img/amigos.svg")
                            p.list_info Estérate de lo que está hablando la gente.
                    li
                        a
                            img(src="img/globe.svg")
                            p.list_info Únete a la conversación.
                img(src="img/twitter-svg.png").path
            .col-sm-6.derecha
                .row.formulario
                    .form-group.col-sm-4
                        input#exampleFormControlInput1.form-control(type='email' placeholder='Teléfono, corréo electrónico o usuario')
                    .form-group.col-sm-4
                        input#inputPassword.form-control(type='password' placeholder='Contraseña')
                    .col-sm-3
                        a(href='/Inicio').btn.btn-outline-primary.login-btn.pt-2 Iniciar Sesión
                .row.presentacion
                    .col-sm-7.offset-sm-2.pt-5.pl-5
                        img(src="img/logo-azul.png" width="50px" height="50px").logo
                        p.firstp Descubre lo que está pasando en el mundo en este momento
                        br
                        br
                        p.secondp Únete hoy a Twitter
                        a(href='/register').btn.btn-primary.col-sm-12.reg Regístrate
                        a(href='/Inicio').btn.btn-outline-primary.col-sm-12.log Iniciar Sesión












script(src="js/bootstrap.min.js")
script(src="js/popper.min.js")

