<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Profile</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/estilosTwitter.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
</head>
<div>
  <div class="row">
    <div class="col-md-3 no-gutters" style="border-right: 0.2mm solid #5a6268; padding: 0%;">
      <ul class="nav flex-column">
        <li class="nav-item"><img class="logo" src="img/logo.png" width="20px" height="20px"></li>
        <li class="nav-item">
          <button class="fondobotonesnavizq"><img class="colorsvg" src="img/home.svg" width="50px" height="24px">Inicio</button>
        </li>
        <li class="nav-item">
          <button class="fondobotonesnavizq"><img class="colorsvg" src="img/numeral.svg" width="50px" height="24px">Explorar</button>
        </li>
        <li class="nav-item">
          <button class="fondobotonesnavizq"><img class="colorsvg" src="img/notificacion.svg" width="50px" height="24px">Notificaciones</button>
        </li>
        <li class="nav-item">
          <button class="fondobotonesnavizq"><img class="colorsvg" src="img/mensaje.svg" width="50px" height="24px">Mensajes</button>
        </li>
        <li class="nav-item">
          <button class="fondobotonesnavizq"><img class="colorsvg" src="img/guardado.svg" width="50px" height="24px">Guardado</button>
        </li>
        <li class="nav-item">
          <button class="fondobotonesnavizq"><img class="colorsvg" src="img/lista.svg" width="50px" height="24px">Listas</button>
        </li>
        <li class="nav-item">
          <button class="fondobotonesnavizq"><img class="colorsvg" src="img/profile.jpg" width="40px" height="40px" style="border-radius: 100%; padding: 5px; margin-right:3px;">Perfil</button>
        </li>
        <li class="nav-item">
          <button class="fondobotonesnavizq"><img class="colorsvg" src="img/opciones.svg" width="50px" height="24px">M&aacute;s opciones</button>
        </li>
        <li class="nav-item">
          <button class="btn btn-twitter-nav">Twittear</button>
        </li>
      </ul>
    </div>
    <div class="col-md-5 col-sm-6" style="border-right: 0.2mm solid #5a6268; padding: 0%;">
      <div class="container-fluid">
        <div class="row" style="margin-top: 1%;">
          <div class="col col-md-2" style="margin-top: 2%">
            <button class="btn-flecha" style="border-radius: 100%;"><img class="colorsvg" src="img/flecha.png" width="60px" height="28px"></button>
          </div>
          <div class="col col-md-10">
            <h4 aria-level="2"><font style="vertical-align: inherit; font-weight:800; color: white">Person</font></h4>
            <p style="color: white; font-weight: 100; margin-top:-13px">1 Tweet</p>
          </div>
        </div>
        <div class="col-md-12" style="padding: 0%;">
          <div class="bg-dark" style="height: 200px; width: 100%"></div>
          <div class="bg-light ml-2" style="height: 150px; border-radius: 100%; width: 150px; margin-top: -100px; border-color: black"><img style="height: 150px; border-radius: 100%; width: 150px; border-color: black;" src="img/profile.jpg" alt=""></div>
        </div>
        <div class="offset-9">
          <button class="btn btn-outline-primary" style="border-radius: 71px 71px 71px 71px; width: 120px; margin-top: -80px">Editar perfil</button>
        </div>
        <div class="col-md-12">
          <h4 aria-level="2"><font style="vertical-align: inherit; font-weight:800; color: white">Person</font></h4>
          <p style="color: white; font-weight: 100; margin-top:-13px">@ person</p>
          <p style="color: white; font-weight: 100; margin-top:-13px">Good vives</p>
        </div>
        <div class="col-md-12">
          <div class="row">
            <button class="btn btn-outline-primary col-md-3 btn-prof btn-raya" style="border-color: transparent;">Tweets</button>
            <button class="btn btn-outline-primary col-md-3 btn-prof btn-raya" style="border-color: transparent;">Tweets &amp; replies</button>
            <button class="btn btn-outline-primary col-md-3 btn-prof btn-raya" style="border-color: transparent;">Media</button>
            <button class="btn btn-outline-primary col-md-3 btn-prof btn-raya" style="border-color: transparent;">Likes</button>
          </div>
        </div>
        <div class="col-sm-12 div-grid" style="padding: 0%; border-top:  0.2mm solid #5a6268;">
          <div class="card backgroundivs">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-1"><img src="img/profile.jpg" width="50px" height="50px" style="border-radius: 100%; padding: 5%;"></div>
                <div class="col-sm-11"><span style="padding: 5px; font-weight: 700">Person2</span><span style="padding: 5px">@Person2</span><span style="padding: 5px">50 min</span></div>
                <div class="col-sm-11 offset-1">
                  <p>Sorteo</p>
                </div>
                <div class="col-sm-11 offset-1"><img src="img/profiletwt.jpg" style="width: 500px;height: 400px;"></div>
                <div class="col-sm-12" style="padding: 10px">
                  <div class="row">
                    <div class="col-sm-3"><img class="fondobotones" src="img/comentar.svg" width="50px" height="30px"><span>55</span></div>
                    <div class="col-sm-3"><img class="fondobotones" src="img/retweet.svg" width="50px" height="30px"><span>55</span></div>
                    <div class="col-sm-3"><img class="fondobotones" src="img/corazon.svg" width="50px" height="30px"><span>55</span></div>
                    <div class="col-sm-3"><img class="fondobotones" src="img/compartir.svg" width="50px" height="30px"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 d-none d-sm-none d-md-block">
      <div class="row align-items-center">
        <div class="col-1"></div>
        <div class="col-md-auto">
          <div id="search-wrapper">
            <input id="search" type="search" placeholder="Buscar en Twitter"><i class="fa fa-search" style="height: 50px"></i>
          </div>
        </div>
        <div class="col-1"></div>
        <div class="col-md-12">
          <div class="card sinbordefondotendencias">
            <ul class="list-group list-group-flush">
              <li class="list-group-item sinbordefondo">Tendencias para ti<img class="float-right fondobotones" src="img/Engrane.svg" width="34px" height="34px"></li>
              <li class="list-group-item sinbordefondo"><small>Tendencias M&eacute;xico</small>
                <h5>Toro Neza</h5>
                <p>174 mil Tweets</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="js/bootstrap.min.js"></script>
<script src="js/popper.min.js"></script>