body {
    background: rgb(21, 32, 43);
}
.colorsvg {
    fill: rgb(96, 240, 255);
    stroke: rgb(96, 240, 255);
}

.btn-twitter-nav {
    border-radius: 71px 71px 71px 71px;
    background: #28b6f9;
    color: white;
    font-weight: 600;
    height: 50px;
    width: 220px;
    margin-left: 50px;
    margin-top: 10px;
}

.btn-twitter-nav:hover {
    background: rgb(78, 171, 184);
    color: white;
}

.logo {
    margin-left: 10%;
    width: 45px;
    height: 45px;
}

.logo:hover {
    border-radius: 71px 71px 71px 71px;
    -moz-border-radius: 71px 71px 71px 71px;
    -webkit-border-radius: 71px 71px 71px 71px;
    border: 0px solid #000000;
    background: rgba(26, 141, 194, 0.23);
    color: #1a8dc2;
    transition: 0.2s;
}


.div-grid {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.backgroundivs {
    background: transparent;
    color: white;
}

.backgroundivsborder {
    border-bottom: 0.2mm solid #5a6268;
    border-right: 0.2mm solid #5a6268;

}

.sinbordefondo {
    background-color: rgb(38, 52, 66);
    border: 0;
}

.sinbordefondotendencias {
    margin-top: 10%;
    border-radius: 60px 60px 60px 60px;
    background-color: rgb(38, 52, 66);
    border: 0;
    color: white;
    font-weight: 700;
    font-size: 120%;
}

.fondobotonesnavizq {
    margin-left: 10%;
    font-size: 21px;
    font-stretch: 100%;
    color: white;
    background: transparent;
    border: 0;
    font-weight: 700;
    padding: 3%;
}
.fondobotonesnavizq:hover {
    border-radius: 80px 80px 80px 80px;
    border: 0px solid #000000;
    background: rgba(26, 141, 194, 0.23);
    color: #1a8dc2;
    transition: 0.2s
}

.fondobotones {
    margin-left: 20%;
    font-size: 21px;
    font-stretch: 100%;
    color: white;
    background: transparent;
    border: 0;
    padding: 5px;
    font-weight: 700;
}

.fondobotones:hover {
    border-radius: 80px 80px 80px 80px;
    border: 0px solid #000000;
    background: rgba(26, 141, 194, 0.23);
    color: #1a8dc2;
    transition: 0.2s
}

.btn-twitter {
    border-radius: 71px 71px 71px 71px;
    background: #1da1f2;
    color: white;
    font-weight: 700;
    height: 40px;
    width: 80px;
    border: 0px solid
}

.btn-twitter:hover {
    background: #2a8cff;
    color: white;
    transition: 0.2s;
}

#search-wrapper {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-flex-flow: row-reverse nowrap;
    -ms-flex-flow: row-reverse nowrap;
    flex-flow: row-reverse nowrap;
    width: 350px;
}
#search-wrapper #search {
    background-color: rgb(38, 52, 66);
    border: 1px solid rgb(38, 52, 66);
    border-left: 0;
    border-radius: 0 25px 25px 0;
    color: #444;
    padding: .6rem .5rem;
    font-size: 15px;
    font-weight: lighter;
    -webkit-transition: border-color .2s ease;
    transition: border-color .2s ease;
    width: 350px;
    height: 50px;
}
#search-wrapper #search + i {
    background-color: rgb(38, 52, 66);
    border: 1px solid rgb(38, 52, 66);
    border-radius: 25px 0 0 25px;
    border-right: 0;
    color: #777;
    padding: .67rem .65rem;
    -webkit-transition: border-color .2s ease;
    transition: border-color .2s ease;
}
#search-wrapper #search:focus {
    border-color: rgb(38, 52, 66);
    outline: none;
}
#search-wrapper #search:focus + i {
    border-color: rgb(38, 52, 66);
}