html, body{
    height: 100%;
}

.aside{
    background-color: #1da1f2;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    position: relative;
}

.page{
    height: 100%;
}

.path{
    width: 1160px;
    height: 1120px;
    margin-left: 90%;
    z-index: -99999999;
    position: absolute;
    opacity: 12%;
}

ul{
    list-style-type: none;
}

ul li a p{
    color: white;
    font-size: 17px;
    letter-spacing: .4px;
    font-family: "Arial Black";

}

.derecha{
    height: 100%;
    background-color: white;
    z-index: 30;
}

.formulario{
    padding-left: 10%;
    padding-top: 5%;
}
.formulario .form-control{
    border-radius: 2px;
    width: 110%;
    height: 115%;
}

.login-btn{
    border-radius: 80px;
    height: 82%;
    font-family: "Arial Black";
    font-size: small;
    transition: .5s;
}

.login-btn:hover{
    background-color: rgba(35, 179, 194, 0.2);
    color: #1a8dc2;
}

.firstp{
    font-size: 25px;
    font-family: "Arial Black";
}

.secondp{
    font-size: 15px;
    font-family: "Arial Black";
}

.log{
    height: 10%;
    border-radius: 25px;
    transition: .5s;
}
.log:hover{
    background-color: rgba(35, 179, 194, 0.2);
    color: #1a8dc2;
}
.reg{
    margin-bottom: 5%;
    height: 10%;
    border-radius: 25px;
}




